.MainMenu {
    display: flex;
    flex-direction: column;
    background-color: #000;
    flex-direction: column;
    min-width: 18%;
    min-height: 100%;
    position: relative;

    .content {
        position: fixed;

        .imgEx {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 160px;
            margin-top: 25px;
            margin-bottom: 25px;
            width: 100%;
            color: #fff;

            span {
                color: #FF7101;
            }
        }

        .options {
            color: #fff;
            width: 115%;
            div {
                display: flex;
                align-items: center;
                padding: 15px 15px 15px 27px;
                min-width: 100%;
            

                a {
                    font-weight: 500;
                    color: #fff;
                    outline: none;
                    margin-left: 15px;
                }

                i {
                    color: #fff;
                }

                &:hover {
                    background-color: #8837C7;
                }

                img {
                    margin-right: 20px;
                }
            }
        }
    }
}